/* ========================================================================== */
/*                               Default Styles                               */
/* ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

section {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 1rem;
}

hr {
  max-width: 800px;
  margin: 16px auto;
}

/* ========================================================================== */
/*                            Sections And Classes                            */
/* ========================================================================== */
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

nav {
  display: flex;
  max-width: 600px;
  justify-content: space-evenly;
}

nav li {
  display: inline-flex;
  margin: 16px;
  list-style-type: none;
}

nav li a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 0% 0.1em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

nav li a:hover {
  background-size: 100% 0.1em;
}

.hamburger {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

header h1 {
  width: 220px;
  margin-right: 1em;
  text-align: right;
  color: white;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 300px;
  margin: 16px;
  border-radius: 50%;
}

#about p {
  height: fit-content;
  margin-left: 16px;
  font-size: 32px;
}
#about span {
  font-weight: bold;
  text-decoration: underline;
}

#skills {
  margin-bottom: 60px;
}

#skills ul {
  max-width: 800px;
  display: flex;
  padding-top: 16px;
  margin: auto;
  gap: 16px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

.logo {
  width: 64px;
  height: 64px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.card {
  width: 300px;
  height: 300px;
  margin: 16px;
  background-color: gray;
}

#cta {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#cta h2 {
  font-size: 36px;
}

#cta button {
  width: 250px;
  height: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 36px;
  border: none;
  background-color: black;
  color: white;
}

#cta button:hover {
  cursor: pointer;
  background-color: #333;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  align-self: flex-start;
  font-size: 36px;
}

#contact h2,
p,
ul {
  margin: 16px;
}

#contact ul {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 785px) {
  .hamburger {
    display: block;
    color: white;
    margin-left: 16px;
  }
  nav {
    justify-content: left;
  }
  nav ul {
    display: none;
  }
  #about {
    flex-direction: column-reverse;
  }
}
